* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100vh;
    display: grid;
    grid-template-columns: 0.66fr 0.34fr 0.34fr 0.66fr 0.5fr 0.5fr;
    grid-template-areas: 
    "a a b b f f"
    "c g g h e e"
    "i i d d e e";
  }

    header{
        background-color: red;
        grid-area: a;
    }
    nav {
        background-color: lightgreen;
        grid-area: b;
    }
    main {
        background-color: skyblue;
        grid-area: c;
    }
    aside {
        grid-area: e;
        background-color: orange;
    }
    footer {
        background-color: yellow;
        grid-area: d;
    }
    .pole {
        background-color: lightgreen;
        grid-area: f;
    }
    .pole2 {
        background-color: skyblue;
        grid-area: h;
    }
    .pole3 {
        background-color: purple;
        grid-area: i;
    }
    .pole4 {
        background-color: magenta;
        grid-area: g;
    }

    
