table {
  border-collapse: collapse;
}

body {
  background-color: magenta;
}

th {
  background-color: cyan;
  color: black;
  height: 50px;
}
td {
  padding: 10px;
}
tr:nth-child(even) {
 background-color: yellow;
}
tr:nth-child(odd) {
 background-color: green;
}
