table, td {
  background-color: goldenrod;
  border-collapse: collapse;
  text-align: center;
  padding:5px;
}

th{
  text-align:center;
  background-color: chocolate;
}

body {
  background-color: darkorchid;
}

h1 {
  color: lawngreen;
}

.link{
  background-color: chartreuse;
  color:deepskyblue;
  padding:15px;
  margin-left:20px;
  margin-top:10px;
}

.link:hover{
  background-color: deeppink;
}

