* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.5fr 0.5fr 1fr;
    grid-template-areas: 
    "l a a a b"
    "l a a a c"
    "l d d f e";
  }

    header{
        background-color: red;
        grid-area: a;
    }
    nav {
        background-color: lightgreen;
        grid-area: b;
    }
    main {
        background-color: skyblue;
        grid-area: c;
    }
    aside {
        grid-area: e;
        background-color: orange;
    }
    footer {
        background-color: yellow;
        grid-area: d;
    }
    .pole {
        background-color: yellow;
        grid-area: f;
    }



    .linki {
        grid-area: l;
        background-color: gold;
    }

    .link:hover{
        background-color: deeppink;
      }

    .link{
        width: 50px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        background-color: sienna;
        color:deepskyblue;
        padding:10px;
        margin-left:10px;
    }

    
